<!--Basic launch file to get thor in the air with sensors connected to ros
    @author @len0rd
    @since 2017-06-07 -->

<launch>

    <!-- turn on if you want to automatically start a bag of sensor data -->
    <arg name="bag_sensor_data" default="true" />
    <rosparam command="load" file="$(find thorcopter)/params/vi_ekf_params.yaml" ns="vi_ekf_node" />
    <rosparam command="load" file="$(find thorcopter)/params/vi_ekf_camera_params.yaml" ns="vi_ekf_node" />

    <!-- Start rosflight -->
    <node pkg="rosflight" type="rosflight_io" name="rosflight" output="screen">
        <param name="port" value="/dev/naze"/>
        <param name="baud" value="921600"/>
    </node>

    <!-- Start inertial sense -->
    <node pkg="inertial_sense" type="inertial_sense_node" name="inertial_sense_node" output="screen">
        <param name="port" value="/dev/ttyUSB1" />
        <param name="INS_rpy" value="{0, 0, 4.7124}" />
        <param name="stream_IMU" value="true" />
        <!-- We only need imu and gps. turn off the default /ins topic to save bandwidth-->
        <!-- <param name="stream_INS" value="false" /> -->
        <param name="stream_baro" value="true" />
        <param name="stream_mag" value="true" />
        <param name="stream_GPS" value="true" />
        <remap from="baro" to="ins/baro" />
    </node>

    <!-- Tell the controller that we are flying -->
    <node pkg="rostopic" type="rostopic" name="is_flying_pub" args="pub is_flying std_msgs/Bool true"/>

    <!-- bag imu, gps, ins, sonar, baro, mag -->
    <!-- <node name="bag_sensors" pkg="rosbag" type="record" if="$(arg bag_sensor_data)" args="record /imu /gps /imu/data /ins/baro /mag /sonar /baro /magnetometer" output="screen" /> -->

</launch>