<!--Basic launch file to get thor in the air with sensors connected to ros
    @author @len0rd
    @since 2017-06-07 -->

<launch>

    <!-- Start rosflight -->
    <node pkg="rosflight" type="rosflight_io" name="rosflight" output="screen">
        <param name="port" value="/dev/naze"/>
        <param name="baud" value="921600"/>
    </node>

    <!-- Start inertial sense -->
    <node pkg="inertial_sense" type="inertial_sense_node" name="inertial_sense_node" output="screen">
        <param name="port" value="/dev/ttyUSB1" />
        <param name="INS_rpy" value="{0, 0, 4.7124}" />
        <!-- <param name="stream_IMU" value="true" />
        <param name="stream_baro" value="true" />
        <param name="stream_mag" value="true" /> -->
        <param name="stream_GPS" value="true" />
    </node>

    <!-- Tell the controller that we are flying -->
    <node pkg="rostopic" type="rostopic" name="is_flying_pub" args="pub is_flying std_msgs/Bool true"/>

</launch>